@mixin heading-1 {
  font-size: 100px;
  line-height: 120px;
  font-weight: bold;
  letter-spacing: -5px;
}

@mixin heading-2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

@mixin heading-3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}

@mixin heading-4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 15px;
  text-transform: uppercase;
}

@mixin heading-5 {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@mixin body-1 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

@mixin body-2 {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}

@mixin center-aligned-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
