$brand-navy: #1E213F;
$brand-navy-darker: #161932;
$brand-white: #FFFFFF;
$brand-white-ghost: #D7E0FF;
$brand-white-smoke: #EFF1FA;
$brand-purple: #D881F8;
$brand-teal: #70F3F8;
$brand-orange: #F87070;
$brand-border: #E3E1E1;
